@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,100,100italic,400italic);

<!--#content {max-width: 1000px;}-->

header {
    line-height: 2;
}
.banner-image {
  background-image: url("../images/white_siemens.png");
  height: 12%;
  width: 12%;
  margin: 0 10px auto auto;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
html {
    height: 100%;
    margin: 0 0 auto auto;  <!-- top right bottom left>
}
body {
    margin: 0 0 auto 50px;
    color: : lightgray;
    background-color: #303030;
    font-family: arial;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    color: #DCDCDC;
    padding: 6px;
}        
td {
    color: #DCDCDC;  
    padding: 6px;
}
h1 {
  margin: auto;
  text-align: center;
  color: #C0C0C0;
}
h2,h3 {
    margin: auto;
    line-height: 3;
    color: #C0C0C0;
}
div {
    margin: auto;
}
p  {
    color: whitesmoke;
    font-size: 20%;
}
a { 
    color: #dd4814; 
    text-decoration: none; 
}
/* resize images */
.img-icon {
    width: 100px;
    height: 100px; <!--auto--;>
}

video {
    width: 100px;
    height: 100px;
}

    .img {
        border-radius: 2px;
        box-shadow: 0 0 5px #343436;
        filter:brightness(1.1);
        height: 150px;
        width: 200px;
    }
    .img:target {
        height: 450px;
        width: 500px;
    }
    .img:target+.close {
        display: block;
    }
    .img:target+.close+.expand{
        display: none;
    }
    .close {
        background-image: url(https://bit.ly/29QeT21);
        background-repeat: no-repeat;
        bottom: 418px;
        display: none;
        height: 32px;
        left: 462px;
        margin-top: -32px;  
        position: relative;
        width: 32px;
    }
    .expand{
        bottom: 125px;
        margin-left: -32px;
        margin-right: 16px;
        pointer-events: none;
        position: relative;
    }
    #wrapper {
        margin: auto;
        padding: 10px;
        text-align: center;
        width: 500px;
    }
    body{
        background-image: linear-gradient(to bottom, #178FDD  68px,  antiquewhite 68px  );
        height: 1000px;
    }
    h2{
        color: #000;
        font-family: bungee shade, georgia;
        text-align: center;
        text-shadow: 0 0 2px #343436; 
    }